<footer>
	<span>
		&copy; <time datetime="{{ now }}">{{ now.Format "2006" }}</time> Gothenburg Mime Festival.<br />
		Pressansvarig: Agneta Leander, <a href="tel:+46736698560">073-669 85 60</a>,
		<a href="mailto:info@agnetaleander.com">info@agnetaleander.com</a>.
	</span>
</footer>
</body>

</html>