<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>
	<nav class="nav">
		<div class="nav-container">
			<a href="{{ .Site.BaseURL }}/">
				<h2 class="nav-title">{{ .Site.Title }}</h2>
			</a>
			<ul>
				<li><a href="https://gbgmimefest.se">{{ T "Tillfestivalhemsidan" }}</a></li>
			</ul>
		</div>
	</nav>