<footer>
	<span>
		&copy; <time datetime="{{ now }}">{{ now.Format "2006" }}</time> Gothenburg Mime Festival. Made with Hugo using the <a href="https://github.com/EmielH/tale-hugo/">Tale</a> theme.
	</span>
</footer>
</body>

</html>