<!DOCTYPE html>
<html lang="{{ .Lang }}">

{{ partial "head.html" . }}

<body>
	<nav class="nav">
		<div class="nav-container">
			<a href="{{ .Site.BaseURL }}/">
				<h2 class="nav-title">{{ .Site.Title }}</h2>
			</a>
			<ul>
				<li><a href="{{ .Site.BaseURL }}about">{{ T "Om" }}</a></li>
				<li><a href="{{ .Site.BaseURL }}">{{ T "Inlägg" }}</a></li>
			</ul>
		</div>
	</nav>