{{ partial "header.html" . }}

<main>
	<div class="post">

		<h1 class="post-title">{{ .Title }}</h1>
		<div class="post-line"></div>

		{{ .Content }}

	</div>

	<div class="pagination">
		{{ if .Next }}
		<a href="{{ .Next.URL }}" class="left arrow">&#8592;</a>
		{{ end }}
		{{ if .Prev }}
		<a href="{{ .Prev.URL }}" class="right arrow">&#8594;</a>
		{{ end }}

		<a href="#" class="top">{{ T "Tilltoppenavsidan" }}</a>
	</div>
</main>

{{ partial "footer.html" . }}